version: 1
disable_existing_loggers: False
formatters:
  simple:
    format: '%(asctime)s - %(filename)s - %(lineno)d - [%(levelname)s] %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: simple
    stream: ext://sys.stdout
  logfile:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: simple
    filename: LOG
    maxBytes: 10485760
    backupCount: 3
root:
  level: DEBUG
  handlers: [console]
